* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

button {
  border: none;
  background-color: rgb(79, 146, 255);
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.main {
  width: 100%;
}

.tasks {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(147, 147, 147);
  padding: 10px;
  margin: 10px 0;
}

.task__title {
  font-size: 3rem;
  font-weight: 500;
}

.task__button {
  font-size: 1.5rem;
}
