* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

:root {
  --color-secondary: rgb(126, 126, 126);
  --color-input-bg: rgb(238, 238, 238);
  --color-accent: rgb(50, 50, 251);
}

body {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  outline: none;
  border: none;
  background-color: var(--color-input-bg);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font: inherit;
}

input::placeholder {
  color: var(--color-secondary);
}

input:focus {
  border: 2px solid var(--color-accent);
}

textarea {
  width: 100%;
  height: 50px;
  resize: none;
  padding: 5px;
}

textarea:focus {
  outline: 2px solid var(--color-accent);
  border: none;
}

button:hover {
  cursor: pointer;
}

select {
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.form__title {
  font-size: 2rem;
  font-weight: 500;
}

.form__user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__label {
  color: var(--color-secondary);
}

.form__gender {
  padding: 5px;
  width: auto;
}

.form__user-info--row {
  flex-direction: row;
}

.form__user-info--row > label {
  color: black;
}

.form__agreement {
  width: auto;
}

.form__submit-button {
  width: 40%;
  height: 30px;
}

.errors {
  color: rgb(255, 62, 62);
}
